body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.4;
}

.wrapper {
    width: 100%;
    max-width: 500px;
    margin: 50px auto 0;
    box-sizing: border-box;
}

.error {
    background: rgba(255, 50, 50, .2);
    border: 1px solid rgba(255, 50, 50, .3);
    padding: 5px 10px;
    margin: 1px 0;
    color: rgba(200, 50, 50, .9);
}

form {
    border: 1px solid #dddddd;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 10px;
}

input, textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 7px 15px;
    border: 1px solid #dddddd;
    margin-bottom: 10px;
    font-size: 16px;
}

button {
    width: 100%;
    text-align: center;
    height: 40px;
    background: rgba(50, 150, 50, .8);
    border: none;
    margin: 0 auto;
    display: block;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: rgba(50, 180, 50, .8);
}

.nav {
    text-align: center;
    margin: 15px 0;
}

.nav a {
    color: #444;
}

.post {
    background: #f5f5f5;
    border: 1px solid #e5e5e5;
    padding: 15px;
    margin: 1px 0;
}

.post:nth-child(n+2) {
    background: #eeeeee;
    border-color: #e1e1e1;
}

.author {
    margin-bottom: 4px;

}